name: Code lint, check and test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 21
          cache: 'pnpm'

      - name: Install dependendencies
        run: pnpm i

      - name: Build project
        run: pnpm run build

      - name: Run lint
        run: pnpm run lint

      - name: Run check
        run: pnpm run check

      - name: Run tests
        run: pnpm run test
